.content {
    padding: 16px;
}

nav ul {
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffc0cb;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    line-height: 24px;
    text-decoration: none;
    font-family: Lucida Bright, serif;
    font-size: small;
    font-weight: bold;
}

#disneyprincesslogo {
    padding: 10px;
    line-height: 24px;
}

nav li a:hover {
    background-color: #ffafcc;
}

nav #wikihometitle:not(.nohover) {
    background-color: #ffc0cb;
}

#wikihometitle {
    font-weight: bolder;
    font-size: large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.princesses ul {
    list-style-type: none;
    display: inline-block;
}

.princesses div {
    text-align: center;
}

.princesses a:link {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-family: Lucida Bright, serif;
}

.princesses img {
    border-radius: 8px;
}

.princesses {
    background-color: #ffc0cb;
}

body {
    font-family: Lucida Bright, serif;
}

#princessestitle {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

#navbar {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}